table(border=1)
    thead
        tr
            th Full Names
            th Number Phones
    tbody
        tr
            td Homer Simpson
            td 001-456789
        tr
            td Marge Simpson
            td 002-456789
        tr
            td Barth Simpson
            td 003-456789
