extends inc/layout.pug

block title
    title 14- Inheritance
block content
    header
        h1 14- Inheritance
        h2 Covers how to use inheritance to avoid code repetition.
    section
        h3 Lorem ipsum dolor
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet officia minus omnis, autem maxime quaerat, facere quis quod aliquid ipsum soluta, error magnam harum odit! Delectus tenetur quas quis atque.