doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 17- Challenge
        link(rel="shortcut icon", href="../favicon.ico", type="image/x-icon")
        link(rel="stylesheet", href="../../css/styles.css")
    body.pug
        nav
            a(href="../index.html")
                svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512")
                    path(fill="#ffffff" d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z")
        main
            header
                h1 17- Challenge
                h2 Provides an exercise to apply the learned concepts.
            section
                table(style="width: 100%")
                    - var i = 1
                    - var r = 0
                    - var g = 250
                    - var b = 250
                    while i <= 10
                        tr 
                            td(style="background-color: rgb("+r+","+g+","+b+"); height: 50px; border-radius: 4px") 
                                span(style="display: flex; justify-content: center; background-color: #0009; color: #fff; padding: 1rem; width: 50px; border-radius: 4px 0 0 4px") #{i}
                            - i++
                            - r+=25
                            - g-=25